<table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Nombre</th>
      <th>Siglas</th>
      <th>Website</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Instagram</th>
      <th>Youtube</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Ciudad</th>
      <th>Pais</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Asociación Mexicana de Fibrosis Quística A.C.</td>
      <td>AMFQ</td>
      <td>https://fibrosisquistica.org.mx/</td>
      <td>https://www.facebook.com/AMFQMX/?fref=ts</td>
      <td>@AMFQMX</td>
      <td></td>
      <td>https://www.youtube.com/user/AMFQAC</td>
      <td>info@fibrosisquistica.org.mx</td>
      <td>52 01 (55) 11 14 98</td>
      <td>General Sostenes Rocha 84 A, 301\nDaniel Garza, C.P. 11830\n</td>
      <td>Colonia\nCiudad de México</td>
      <td>México</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Asociación Argentina de Fibrosis Quística</td>
      <td>Fipan</td>
      <td>https://fipan.org.ar/</td>
      <td>https://es-la.facebook.com/Asociaci%C3%B3n-Argentina-de-Fibrosis-Quistica-146912821993993/</td>
      <td>@FipanBsAs</td>
      <td>https://www.instagram.com/fipanbsas/</td>
      <td>https://www.youtube.com/channel/UC76G0m5qXGpaUXMihJcFVHg</td>
      <td>fipanbsas@fipan.org.ar</td>
      <td>54 11 4806 5585</td>
      <td>Av. Pueyrredón 1895 1º B</td>
      <td>Capital Federal</td>
      <td>Argentina</td>
    </tr>
  </tbody>
</table>