<table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>position</th>
      <th>location</th>
      <th>age</th>
      <th>start_date</th>
      <th>salary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Airi Satou</td>
      <td>Accountant</td>
      <td>Argentina</td>
      <td>33</td>
      <td>2008/11/28</td>
      <td>$162,700</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Garrett Winters</td>
      <td>Accountant</td>
      <td>Argentina</td>
      <td>63</td>
      <td>2011/07/25</td>
      <td>$170,750</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Rhona Davidson</td>
      <td>Integration Specialist</td>
      <td>Argentina</td>
      <td>55</td>
      <td>2010/10/14</td>
      <td>$327,900</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Sakura Yamamoto</td>
      <td>Support Engineer</td>
      <td>Argentina</td>
      <td>37</td>
      <td>2009/08/19</td>
      <td>$139,575</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Shou Itou</td>
      <td>Regional Marketing</td>
      <td>Argentina</td>
      <td>20</td>
      <td>2011/08/14</td>
      <td>$163,000</td>
    </tr>
  </tbody>
</table>