<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_edd590604d3e46e8bf7dbaebea149131 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_edd590604d3e46e8bf7dbaebea149131" ></div>
        
</body>
<script>    
    
            var map_edd590604d3e46e8bf7dbaebea149131 = L.map(
                "map_edd590604d3e46e8bf7dbaebea149131",
                {
                    center: [-25.278055444434276, -57.58487367338524],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7e87a400aa99458da5930da2116174ba = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_edd590604d3e46e8bf7dbaebea149131);
        
    
            var feature_group_69d85042cdcc411aa6526cab8352e881 = L.featureGroup(
                {}
            ).addTo(map_edd590604d3e46e8bf7dbaebea149131);
        
    
            var feature_group_sub_group_4472de032dbc41cf967f7ecd8ecd0d41 = L.featureGroup.subGroup(
                feature_group_69d85042cdcc411aa6526cab8352e881
            );
            feature_group_sub_group_4472de032dbc41cf967f7ecd8ecd0d41.addTo(map_edd590604d3e46e8bf7dbaebea149131);
        
    
            var marker_979ffe424f8c432e83ae34b1a4239c43 = L.marker(
                [-34.63067536202156, -58.393375524326856],
                {"parseHtml": true}
            ).addTo(feature_group_sub_group_4472de032dbc41cf967f7ecd8ecd0d41);
        
    
            var icon_26b1047991e1467ba141f0c864f8f3a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "h-square", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_979ffe424f8c432e83ae34b1a4239c43.setIcon(icon_26b1047991e1467ba141f0c864f8f3a1);
        
    
        var popup_f8d5b04e9f3c4c658c68a9167ee4575e = L.popup({"maxWidth": 500});

        
            var html_121872b2ee894402996034f0070dc9b8 = $(`<div id="html_121872b2ee894402996034f0070dc9b8" style="width: 100.0%; height: 100.0%;"><b>Hospital de Pediatría Samic Prof. Dr Juan P.Garrahan</b><br><br>Pichincha 1890, C1245 CABA, Argentina<br>Argentina<br>telefono:4943-1455</div>`)[0];
            popup_f8d5b04e9f3c4c658c68a9167ee4575e.setContent(html_121872b2ee894402996034f0070dc9b8);
        

        marker_979ffe424f8c432e83ae34b1a4239c43.bindPopup(popup_f8d5b04e9f3c4c658c68a9167ee4575e)
        ;

        
    
    
            marker_979ffe424f8c432e83ae34b1a4239c43.bindTooltip(
                `<div>
                     Hospital de Pediatría Samic Prof. Dr Juan P.Garrahan
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4aed40c4010e4eb1be22ecadf64dfbb1 = L.marker(
                [-34.62880005967246, -58.37656644894914],
                {"parseHtml": true}
            ).addTo(feature_group_sub_group_4472de032dbc41cf967f7ecd8ecd0d41);
        
    
            var icon_b5c1cf36baeb4c7fae53be894f325402 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "h-square", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4aed40c4010e4eb1be22ecadf64dfbb1.setIcon(icon_b5c1cf36baeb4c7fae53be894f325402);
        
    
        var popup_7499ea00471a48808ceecc5ff17cc367 = L.popup({"maxWidth": 500});

        
            var html_1757b518948a4c21946c78e9a34ea63a = $(`<div id="html_1757b518948a4c21946c78e9a34ea63a" style="width: 100.0%; height: 100.0%;"><b>Hospital General de Niños Pedro de Elizalde</b><br><br>Av. Montes de Oca 40, C1270 CABA, Argentina<br>Argentina<br>telefono:4363-2100</div>`)[0];
            popup_7499ea00471a48808ceecc5ff17cc367.setContent(html_1757b518948a4c21946c78e9a34ea63a);
        

        marker_4aed40c4010e4eb1be22ecadf64dfbb1.bindPopup(popup_7499ea00471a48808ceecc5ff17cc367)
        ;

        
    
    
            marker_4aed40c4010e4eb1be22ecadf64dfbb1.bindTooltip(
                `<div>
                     Hospital General de Niños Pedro de Elizalde
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_sub_group_a6d71365d67845abaa50717b8a62c1a7 = L.featureGroup.subGroup(
                feature_group_69d85042cdcc411aa6526cab8352e881
            );
            feature_group_sub_group_a6d71365d67845abaa50717b8a62c1a7.addTo(map_edd590604d3e46e8bf7dbaebea149131);
        
    
            var marker_6121d94aef3748ca8bf0242ddabfa0f7 = L.marker(
                [-23.564956687509095, -46.719726160278455],
                {"parseHtml": true}
            ).addTo(feature_group_sub_group_a6d71365d67845abaa50717b8a62c1a7);
        
    
            var icon_8102c239dd05475295e1063539762722 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "h-square", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_6121d94aef3748ca8bf0242ddabfa0f7.setIcon(icon_8102c239dd05475295e1063539762722);
        
    
        var popup_49617b3339a94d97b1e08b97713f01b0 = L.popup({"maxWidth": 500});

        
            var html_404a3d1fae6745c9a6f8d21517c8edbc = $(`<div id="html_404a3d1fae6745c9a6f8d21517c8edbc" style="width: 100.0%; height: 100.0%;"><b>Hospital Vital Brasil</b><br><br>Av. Vital Brasil, 1500 - Butantã, São Paulo - SP, 05503-900, Brazil<br>Brazil<br>telefono:</div>`)[0];
            popup_49617b3339a94d97b1e08b97713f01b0.setContent(html_404a3d1fae6745c9a6f8d21517c8edbc);
        

        marker_6121d94aef3748ca8bf0242ddabfa0f7.bindPopup(popup_49617b3339a94d97b1e08b97713f01b0)
        ;

        
    
    
            marker_6121d94aef3748ca8bf0242ddabfa0f7.bindTooltip(
                `<div>
                     Hospital Vital Brasil
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_sub_group_b54877fb79cd46a18b413691f9413bb8 = L.featureGroup.subGroup(
                feature_group_69d85042cdcc411aa6526cab8352e881
            );
            feature_group_sub_group_b54877fb79cd46a18b413691f9413bb8.addTo(map_edd590604d3e46e8bf7dbaebea149131);
        
    
            var marker_c351f6068ded476488aa36775d951986 = L.marker(
                [4.714198434488104, -74.11337041755888],
                {"parseHtml": true}
            ).addTo(feature_group_sub_group_b54877fb79cd46a18b413691f9413bb8);
        
    
            var icon_f69b537d833443089b4b2147c36056ba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "h-square", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_c351f6068ded476488aa36775d951986.setIcon(icon_f69b537d833443089b4b2147c36056ba);
        
    
        var popup_10fac18fbb2847859d04ab5d7ca57d2b = L.popup({"maxWidth": 500});

        
            var html_0c4da8510d6e4c0a8498b06cffebc8bc = $(`<div id="html_0c4da8510d6e4c0a8498b06cffebc8bc" style="width: 100.0%; height: 100.0%;"><b>Clinica Universitaria De Colombia</b><br><br>Cra. 99b ##72-39, Bogotá, Colombia<br>Colombia<br>telefono:</div>`)[0];
            popup_10fac18fbb2847859d04ab5d7ca57d2b.setContent(html_0c4da8510d6e4c0a8498b06cffebc8bc);
        

        marker_c351f6068ded476488aa36775d951986.bindPopup(popup_10fac18fbb2847859d04ab5d7ca57d2b)
        ;

        
    
    
            marker_c351f6068ded476488aa36775d951986.bindTooltip(
                `<div>
                     Clinica Universitaria De Colombia
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_sub_group_f630915e769e4247a8579f291d02a799 = L.featureGroup.subGroup(
                feature_group_69d85042cdcc411aa6526cab8352e881
            );
            feature_group_sub_group_f630915e769e4247a8579f291d02a799.addTo(map_edd590604d3e46e8bf7dbaebea149131);
        
    
            var marker_686d826ad9ca468887d8bd8c45013e6e = L.marker(
                [19.440471672550988, -99.12829254256968],
                {"parseHtml": true}
            ).addTo(feature_group_sub_group_f630915e769e4247a8579f291d02a799);
        
    
            var icon_d057bedb96b94158ac09e1a0009ce446 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "h-square", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_686d826ad9ca468887d8bd8c45013e6e.setIcon(icon_d057bedb96b94158ac09e1a0009ce446);
        
    
        var popup_c3781a894c3e45c1981f7d5a888f799f = L.popup({"maxWidth": 500});

        
            var html_9863974313b644e6b6bf89804b8568ce = $(`<div id="html_9863974313b644e6b6bf89804b8568ce" style="width: 100.0%; height: 100.0%;"><b>Hospital General Gregorio Salas Flores</b><br><br>Calle del Carmen 42, Centro Histórico de la Cdad. de México, Centro, Cuauhtémoc, 06020 Ciudad de México, CDMX, Mexico<br>México<br>telefono:</div>`)[0];
            popup_c3781a894c3e45c1981f7d5a888f799f.setContent(html_9863974313b644e6b6bf89804b8568ce);
        

        marker_686d826ad9ca468887d8bd8c45013e6e.bindPopup(popup_c3781a894c3e45c1981f7d5a888f799f)
        ;

        
    
    
            marker_686d826ad9ca468887d8bd8c45013e6e.bindTooltip(
                `<div>
                     Hospital General Gregorio Salas Flores
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_c0e5abe26c1a446985a140533235ea7c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_185f351b479542d0b8861b298cb04a8d = new L.Control.MiniMap(
                tile_layer_c0e5abe26c1a446985a140533235ea7c,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": false, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_edd590604d3e46e8bf7dbaebea149131.addControl(mini_map_185f351b479542d0b8861b298cb04a8d);
        
    
            var layer_control_cfe186b0153745e489864349c3010768 = {
                base_layers : {
                    "openstreetmap" : tile_layer_7e87a400aa99458da5930da2116174ba,
                },
                overlays :  {
                    "Argentina" : feature_group_sub_group_4472de032dbc41cf967f7ecd8ecd0d41,
                    "Brazil" : feature_group_sub_group_a6d71365d67845abaa50717b8a62c1a7,
                    "Colombia" : feature_group_sub_group_b54877fb79cd46a18b413691f9413bb8,
                    "M\u00e9xico" : feature_group_sub_group_f630915e769e4247a8579f291d02a799,
                },
            };
            L.control.layers(
                layer_control_cfe186b0153745e489864349c3010768.base_layers,
                layer_control_cfe186b0153745e489864349c3010768.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_edd590604d3e46e8bf7dbaebea149131);
        
</script>