<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1138404cf54e496d924291d5589451df {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_1138404cf54e496d924291d5589451df" ></div>
        
</body>
<script>    
    
            var map_1138404cf54e496d924291d5589451df = L.map(
                "map_1138404cf54e496d924291d5589451df",
                {
                    center: [-25.278055444434276, -57.58487367338524],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3950ad8586f548888a10d1c02f8c3bcf = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1138404cf54e496d924291d5589451df);
        
    
            var feature_group_fd40a7a5d63346d8a90d2947c7d499d6 = L.featureGroup(
                {}
            ).addTo(map_1138404cf54e496d924291d5589451df);
        
    
            var feature_group_sub_group_0bb7876098184453af8342eb03e08216 = L.featureGroup.subGroup(
                feature_group_fd40a7a5d63346d8a90d2947c7d499d6
            );
            feature_group_sub_group_0bb7876098184453af8342eb03e08216.addTo(map_1138404cf54e496d924291d5589451df);
        
    
            var marker_58a5477b1d5f4a068d17daf72b67a827 = L.marker(
                [-34.63067536202156, -58.393375524326856],
                {"parseHtml": true}
            ).addTo(feature_group_sub_group_0bb7876098184453af8342eb03e08216);
        
    
            var icon_8d5a262fdb454def8e8867a15fb81f56 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "h-square", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_58a5477b1d5f4a068d17daf72b67a827.setIcon(icon_8d5a262fdb454def8e8867a15fb81f56);
        
    
        var popup_95bf3b29f1ad419da21c1834e98d01dc = L.popup({"maxWidth": 500});

        
            var html_2759d24269364caa90a0fa56ae2e04bf = $(`<div id="html_2759d24269364caa90a0fa56ae2e04bf" style="width: 100.0%; height: 100.0%;"><b>Hospital de Pediatría Samic Prof. Dr Juan P.Garrahan</b><br><br>Pichincha 1890, C1245 CABA, Argentina<br>Argentina<br>telefono:4943-1455</div>`)[0];
            popup_95bf3b29f1ad419da21c1834e98d01dc.setContent(html_2759d24269364caa90a0fa56ae2e04bf);
        

        marker_58a5477b1d5f4a068d17daf72b67a827.bindPopup(popup_95bf3b29f1ad419da21c1834e98d01dc)
        ;

        
    
    
            marker_58a5477b1d5f4a068d17daf72b67a827.bindTooltip(
                `<div>
                     Hospital de Pediatría Samic Prof. Dr Juan P.Garrahan
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6e9d3d8c0cae40b7b24b0c73af71e2d1 = L.marker(
                [-34.62880005967246, -58.37656644894914],
                {"parseHtml": true}
            ).addTo(feature_group_sub_group_0bb7876098184453af8342eb03e08216);
        
    
            var icon_1d98f1dfff4f4bd1a8bc8cfcfcee538c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "h-square", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6e9d3d8c0cae40b7b24b0c73af71e2d1.setIcon(icon_1d98f1dfff4f4bd1a8bc8cfcfcee538c);
        
    
        var popup_8b88bf8f49d24397a5037554b9a954c9 = L.popup({"maxWidth": 500});

        
            var html_7ea1315e9c2b4b35b51d7337237f3f29 = $(`<div id="html_7ea1315e9c2b4b35b51d7337237f3f29" style="width: 100.0%; height: 100.0%;"><b>Hospital General de Niños Pedro de Elizalde</b><br><br>Av. Montes de Oca 40, C1270 CABA, Argentina<br>Argentina<br>telefono:4363-2100</div>`)[0];
            popup_8b88bf8f49d24397a5037554b9a954c9.setContent(html_7ea1315e9c2b4b35b51d7337237f3f29);
        

        marker_6e9d3d8c0cae40b7b24b0c73af71e2d1.bindPopup(popup_8b88bf8f49d24397a5037554b9a954c9)
        ;

        
    
    
            marker_6e9d3d8c0cae40b7b24b0c73af71e2d1.bindTooltip(
                `<div>
                     Hospital General de Niños Pedro de Elizalde
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_sub_group_e01626b6628a4cf6b948e863732cc4a6 = L.featureGroup.subGroup(
                feature_group_fd40a7a5d63346d8a90d2947c7d499d6
            );
            feature_group_sub_group_e01626b6628a4cf6b948e863732cc4a6.addTo(map_1138404cf54e496d924291d5589451df);
        
    
            var marker_12e9fbae88c14e27baeea6a2b48d08cd = L.marker(
                [-23.564956687509095, -46.719726160278455],
                {"parseHtml": true}
            ).addTo(feature_group_sub_group_e01626b6628a4cf6b948e863732cc4a6);
        
    
            var icon_b6a44c43620b49768111a7bbc64caba3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "h-square", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_12e9fbae88c14e27baeea6a2b48d08cd.setIcon(icon_b6a44c43620b49768111a7bbc64caba3);
        
    
        var popup_621dc76561fe44cd8d46df4e9c75d84e = L.popup({"maxWidth": 500});

        
            var html_d3cc32273cfa4be69cd1e0de6f10e050 = $(`<div id="html_d3cc32273cfa4be69cd1e0de6f10e050" style="width: 100.0%; height: 100.0%;"><b>Hospital Vital Brasil</b><br><br>Av. Vital Brasil, 1500 - Butantã, São Paulo - SP, 05503-900, Brazil<br>Brazil<br>telefono:</div>`)[0];
            popup_621dc76561fe44cd8d46df4e9c75d84e.setContent(html_d3cc32273cfa4be69cd1e0de6f10e050);
        

        marker_12e9fbae88c14e27baeea6a2b48d08cd.bindPopup(popup_621dc76561fe44cd8d46df4e9c75d84e)
        ;

        
    
    
            marker_12e9fbae88c14e27baeea6a2b48d08cd.bindTooltip(
                `<div>
                     Hospital Vital Brasil
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_sub_group_e476e5507fc84976922d9fd121d2a1bd = L.featureGroup.subGroup(
                feature_group_fd40a7a5d63346d8a90d2947c7d499d6
            );
            feature_group_sub_group_e476e5507fc84976922d9fd121d2a1bd.addTo(map_1138404cf54e496d924291d5589451df);
        
    
            var marker_918c02625fde40fab59440d36a8b94a2 = L.marker(
                [4.714198434488104, -74.11337041755888],
                {"parseHtml": true}
            ).addTo(feature_group_sub_group_e476e5507fc84976922d9fd121d2a1bd);
        
    
            var icon_50ca637e8cd0425595ef88a629c26086 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "h-square", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_918c02625fde40fab59440d36a8b94a2.setIcon(icon_50ca637e8cd0425595ef88a629c26086);
        
    
        var popup_83186fe9cb8f4944b2b68dab5969a87b = L.popup({"maxWidth": 500});

        
            var html_bac2b6440a114f7f81b144ec0b7f1c35 = $(`<div id="html_bac2b6440a114f7f81b144ec0b7f1c35" style="width: 100.0%; height: 100.0%;"><b>Clinica Universitaria De Colombia</b><br><br>Cra. 99b ##72-39, Bogotá, Colombia<br>Colombia<br>telefono:</div>`)[0];
            popup_83186fe9cb8f4944b2b68dab5969a87b.setContent(html_bac2b6440a114f7f81b144ec0b7f1c35);
        

        marker_918c02625fde40fab59440d36a8b94a2.bindPopup(popup_83186fe9cb8f4944b2b68dab5969a87b)
        ;

        
    
    
            marker_918c02625fde40fab59440d36a8b94a2.bindTooltip(
                `<div>
                     Clinica Universitaria De Colombia
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_sub_group_f0eccc92677d44a0a1bf79af72708a1a = L.featureGroup.subGroup(
                feature_group_fd40a7a5d63346d8a90d2947c7d499d6
            );
            feature_group_sub_group_f0eccc92677d44a0a1bf79af72708a1a.addTo(map_1138404cf54e496d924291d5589451df);
        
    
            var marker_3515fbcc06524a449f07ececf8aec9cf = L.marker(
                [19.440471672550988, -99.12829254256968],
                {"parseHtml": true}
            ).addTo(feature_group_sub_group_f0eccc92677d44a0a1bf79af72708a1a);
        
    
            var icon_9423869791ef49529107236588707064 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "h-square", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_3515fbcc06524a449f07ececf8aec9cf.setIcon(icon_9423869791ef49529107236588707064);
        
    
        var popup_3e2be85d7a6a43d19fa5e11fcc952525 = L.popup({"maxWidth": 500});

        
            var html_5cdf7da96b504b9b80b877ed8f855e72 = $(`<div id="html_5cdf7da96b504b9b80b877ed8f855e72" style="width: 100.0%; height: 100.0%;"><b>Hospital General Gregorio Salas Flores</b><br><br>Calle del Carmen 42, Centro Histórico de la Cdad. de México, Centro, Cuauhtémoc, 06020 Ciudad de México, CDMX, Mexico<br>México<br>telefono:</div>`)[0];
            popup_3e2be85d7a6a43d19fa5e11fcc952525.setContent(html_5cdf7da96b504b9b80b877ed8f855e72);
        

        marker_3515fbcc06524a449f07ececf8aec9cf.bindPopup(popup_3e2be85d7a6a43d19fa5e11fcc952525)
        ;

        
    
    
            marker_3515fbcc06524a449f07ececf8aec9cf.bindTooltip(
                `<div>
                     Hospital General Gregorio Salas Flores
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_85bf167657d7422f8ec4c018e0a93285 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_3a54a552f7f04988bb4919805c48dc89 = new L.Control.MiniMap(
                tile_layer_85bf167657d7422f8ec4c018e0a93285,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": false, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_1138404cf54e496d924291d5589451df.addControl(mini_map_3a54a552f7f04988bb4919805c48dc89);
        
    
            var layer_control_6cdfe6ff09bf4a1e9690b9ae98275dba = {
                base_layers : {
                    "openstreetmap" : tile_layer_3950ad8586f548888a10d1c02f8c3bcf,
                },
                overlays :  {
                    "Argentina" : feature_group_sub_group_0bb7876098184453af8342eb03e08216,
                    "Brazil" : feature_group_sub_group_e01626b6628a4cf6b948e863732cc4a6,
                    "Colombia" : feature_group_sub_group_e476e5507fc84976922d9fd121d2a1bd,
                    "M\u00e9xico" : feature_group_sub_group_f0eccc92677d44a0a1bf79af72708a1a,
                },
            };
            L.control.layers(
                layer_control_6cdfe6ff09bf4a1e9690b9ae98275dba.base_layers,
                layer_control_6cdfe6ff09bf4a1e9690b9ae98275dba.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_1138404cf54e496d924291d5589451df);
        
</script>